.navbar{
	min-height: 20px;
	margin-bottom: 0;

}
.navbar-default{
	border:0;
	background-color: #A81F00;
	height: 40px;
	border-radius: 0;
}

.right {
   margin-right: 15% !important;
 /* margin-right: 218px;*/
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-nav > li > a {
	padding:10px;
}
.navbar-nav > li > a:hover{
	color: #fff !important;
}
.active a:hover,a:focus{
	color: #fff !important;
	background-color: #111 !important;
}

/*-----------------------------------------------------------------------------*/
.wrapper{
	background-color: #E5E5E5;
	height: 90px;
    padding: 14px;
    position: relative
}
.wrapper img{
	    margin-left: 24%;
}
.wrapper .social span{
	display: inline-block;
    margin: 11px 4px;
    background-color: #0A6D41;
    padding: 10px 15px;
    color: #fff;
    transition: background-color .5s ease;
}
.wrapper .social a:hover  span{
 background-color: #A81F00;
}
.wrapper .social a:focus span{
	background-color: #A81F00;
}
/*-----------------------------------------------------------------------*/

.carousel{
	min-height: 250px;
}
.con{
	margin-left: 12.333333%; ;
	width: 78.333333%;
}
.row{
	margin: 0;
}
.con h2{
	margin-bottom: 19px;
}
.con p{
	font-size: 17px;
	word-wrap:no-wrap;
}

.btn-danger {
    color: #fff;
    background-color: #909090;
    border: none;
    border-radius: 20px;
    transition: all 0.5s ease-in;
}
.sub{
	margin-top: 70px;
	    margin-bottom: 20px;
}
.sub div{
	border-top: 1px dotted #111;
	border-right: 1px dotted #111;
}
.sub div:last-child{
	border-right: none;
}
.def{
	padding: 44px 15px;
}
.def h3{
	position: absolute;
    top: 17%;
    left: 43%;
    color: #A81F00;
}
.def span{
	font-size: 17px;
    position: absolute;
    top: 44%;
    left: 44%;
    padding: 2px;
    width: 140px;
}
/*==================================================================*/
.footer{
	background-color: #E5E5E5;
	/*height: 260px;*/
	border-top:1px solid #B7B7B7;
	padding-left: 13%;
}
.footer h3{
	text-decoration: underline;
	color: #A81F00;
	margin-bottom: 22px;
}
.submenu{
	margin-left: -50px;
}
.submenu li{
	list-style-type: none;
	padding-bottom: 5px;
}
.submenu li a{
	color: #0E7E4C;
	text-decoration: underline;
	font-weight: 600;
}
.headoffice{
	    margin-top: 26px;
    font-size: 16px;
    color: #087A47;
    font-weight: 600;
}
.footer p{
	line-height: 0.8;
}
.branch{
	margin-top: 30px;
}
.branch h4{
	margin-left: -15px;
	color: #A92305;
	font-size: initial;
}
.branch p{
	line-height: 1.3;
	margin-left: -15px;
	font-size: small;
}
.footer hr{
	border: 1px dashed  #919191;
	width: 85%;
	margin-left: 10px;
}
.copy p{
	padding-left: 10px;
	font-size: 12px;
}
.iso{
	color: #4E4E4E !important;
	text-decoration: none !important;
	margin-left: 61%;
	margin-top: -38px;
	    font-size: 20px;
}
